* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: "Iceberg", serif;
  background:url("./assets/img/fundo222.jpg");
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;    
}

